#informations {
	.nav-tabs {
		background-color: $grey;
		border-bottom: 1px solid $grey;
		
		li > a {
			height: 50px;
			line-height: 30px;
			text-transform: uppercase;
			font-size: 1.25em;
			text-align: center;
			color: #fff;
		}
		li > a:focus, li > a:hover {
			background-color: #333439;
		}
		li[class*="col"] {
			padding: 0;
		}
		li.active > a, li.active > a:focus, li.active > a:hover {
			background-color: $primary;
			border: none; 
			border-bottom-color: inherit; 
		}
		li > a {
			margin-right: 0; 
			border: none; 
			border-radius: 0; 
		}
	}
	.tab-content {
		background-color: #fff;

		#login-form, #register-form {
			padding: 20px 0;
			color: #333439;
		
			.form-group {
				margin: 0 0 20px;

				.input-group-addon {
					background-color: inherit;
				}
				.input-group-addon {
					background-color: inherit;
					border: {
						top: 1px;
						right: 0;
						bottom: 1px;
						left: 1px;
						style: solid;
						color: #ccc;
						radius: 0;
					}
				}
				.form-control {
					border: {
						top: 1px;
						right: 1px;
						bottom: 1px;
						left: 0;
						style: solid;
						color: #ccc;
						radius: 0;
					}
					height: 45px;
					padding: 0;
					-webkit-box-shadow: none;
					box-shadow: none;
				}
			}
			.btn-login, .btn-register {
				background-color: $primary;
				height: 50px;
				border-radius: 0;
				border: none;
				color: #fff;
				font-size: 1.5em;
				text-transform: uppercase;
			}
			.btn-login:hover, .btn-login:focus, .btn-register:hover, .btn-register:focus {
				background-color: $primary-light;
			}
		}

		#login-form {
			.checkbox {
				margin-top: 0;
			}
			.btn-forgot {
				line-height: 20px;
			}
			.btn-login {
				margin-top: 20px;
			}
		}
	}
}
