#informations {
	.nav-tabs {
		background-color: $secondary;
		border-bottom: 1px solid $secondary;
		
		li > a {
			margin-right: 0; 
			border: none; 
			border-radius: 0; 
			height: 50px;
			line-height: 30px;
			text-transform: uppercase;
			font-size: 1.25em;
			text-align: center;
			color: #fff;
		
			&:focus, &:hover {
				background-color: $K11;
			}
		}
		li[class*="col"] {
			padding: 0;
		}
		li.active > a, li.active > a:focus, li.active > a:hover {
			background-color: $primary;
			border: none; 
			border-bottom-color: inherit; 
		}
	}
	.tab-content {
		background-color: #fff;
	}
}