// ===========================================================================
// Variables - Globals
// ===========================================================================
$background:								#131313;
$primary:									$E8;
$primary-light:								$E4;
$secondary:									#1d1e22;
$secondary-light:							#333439;
$font-color-light:							#eaeaea;

$link:										$E9;
$link-hover:								$E4;
$link-visited:								$E4;

$media-sm:									768px;
$media-md:									992px;
$media-lg:									1200px;

// ===========================================================================
// Variables - Navigations
// ===========================================================================
$navbar-background-color:					$secondary !default;
$navbar-background-color-active:			$secondary-light !default;
$navbar-font-color:							$font-color-light !default;


// ===========================================================================
// Variables - Navigations
// ===========================================================================
$form-normal:								$A17 !default;
$form-default:								$secondary-light !default;
$form-primary:								$primary-light !default;
$form-success:								$A3 !default;
$form-danger:								$A15 !default;
$form-warning:								$A14 !default;
$form-info:									$A1 !default;

$message-success:							$A4 !default;
$message-danger:							$A16 !default;
$message-warning:							$H7 !default;

$form-font-color:							$font-color-light !default;
$form-placeholder-font-color:				$font-color-light !default;
$form-disabled-color:						$form-default !default;