// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
	background-color: $secondary;
	color: $light-grey;
	font-size: 16px;
}

a {
	color: $link;
	&:hover {
		color: $link-hover;
	}
	&:visited {
		color: $link-visited;
	}
}

.full-section {
	width: 100%;
	padding: 75px 0;
}