// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
body {
	background-color: $background;
	color: $font-color-light;
	font-size: 16px;
}

a {
	color: $link;
	&:hover {
		color: $link-hover;
	}
	&:visited {
		color: $link-visited;
	}
}

main {
	margin-top: 70px;

	@media (min-width: $media-sm) and (max-width: $media-md - 1px) {
		margin-top: 140px;
	}
}