// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
section {
	&:nth-child(even) {
		background-color: $secondary;
	}

	&#informations {
		min-height: 500px;

		& header {
			& h1 {
				margin: 0 0 25px;
				line-height: 1.313em;
				text-transform: uppercase;
				color: $primary-light;
				
				&::before {
					content: '';
					width: 250px;
					margin-right: 15px;
					border: 3px solid $primary-light;
				}

				@media (min-width: $media-sm) {
					font-size: 1.8em;
				}
				@media (min-width: $media-md) {
					font-size: 2.4em;
				}
			}
			& p {
				font-size: 18px;
				line-height: 30px;
				letter-spacing: 3px;
			}
		}
	}

	&#top-10 {
		& header {
			& h1 {
				margin: 0 0 50px;
				line-height: 1.313em;
				text-transform: uppercase;
				color: $primary-light;

				&::before {
					content: '';
					width: 250px;
					margin-right: 15px;
					border: 3px solid $primary-light;
				}
				
				@media (min-width: $media-sm) {
					font-size: 1.8em;
				}
				@media (min-width: $media-md) {
					font-size: 2.4em;
				}
			
			}
		}
	}
}