// -----------------------------------------------------------------------------
// This file contains styles that are specific to the collection.
// -----------------------------------------------------------------------------
article {
	&.search-movies {
		padding: 10px 0;

		@media (min-width: $media-sm) {
			min-height: 175px;
		}
		@media (min-width: $media-md) {
			min-height: 160px;
		}

		& h4 {
			margin-top: 0;
		}
	}
}