/*@import
	'vendor/';*/
body {
  background-color: #131313;
  color: #eaeaea;
  font-size: 16px;
}

a {
  color: #0057A0;
}

a:hover {
  color: #22A7F0;
}

a:visited {
  color: #22A7F0;
}

.full-section {
  width: 100%;
  padding: 75px 0;
}

/**
 * Basic typography style for copy text
 */
.navbar {
  background-color: #1d1e22;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px;
  border-left: 0;
  border-style: solid;
  border-color: #333439;
  border-radius: 0;
}

.navbar .bg-dalib {
  background-color: #0067B0;
}

.navbar .navbar-header {
  width: 100%;
}

.navbar .navbar-brand {
  width: 75%;
  padding: 0 25px;
  font-size: 2.5em;
  line-height: 1.25em;
  color: #eaeaea;
  text-align: center;
}

.navbar .navbar-brand:hover {
  color: #eaeaea;
}

@media screen and (min-width: 768px) {
  .navbar .navbar-brand {
    width: 100%;
  }
}

.navbar .navbar-collapse {
  border-top: inherit;
  box-shadow: inherit;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #eaeaea;
}

.navbar .navbar-toggle {
  border-color: #eaeaea;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #22A7F0;
}

#informations .nav-tabs, #top-10 .nav-tabs {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  #informations .nav-tabs, #top-10 .nav-tabs {
    margin-top: 0;
  }
}

#informations #login-form, #top-10 #login-form, #informations #register-form, #top-10 #register-form {
  padding: 20px 0;
  color: #303030;
}

#informations #login-form .form-group, #top-10 #login-form .form-group, #informations #register-form .form-group, #top-10 #register-form .form-group {
  margin: 0 0 20px;
}

#informations #login-form .form-group .input-group-addon, #top-10 #login-form .form-group .input-group-addon, #informations #login-form #search-form .form-group .form-control, #search-form #informations #login-form .form-group .form-control, #top-10 #login-form #search-form .form-group .form-control, #search-form #top-10 #login-form .form-group .form-control, #informations #register-form .form-group .input-group-addon, #top-10 #register-form .form-group .input-group-addon, #informations #register-form #search-form .form-group .form-control, #search-form #informations #register-form .form-group .form-control, #top-10 #register-form #search-form .form-group .form-control, #search-form #top-10 #register-form .form-group .form-control {
  background-color: inherit;
  border-top: 1px;
  border-right: 0;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0;
}

#informations #login-form .form-group .form-control, #top-10 #login-form .form-group .form-control, #informations #register-form .form-group .form-control, #top-10 #register-form .form-group .form-control {
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0;
  height: 45px;
  padding: 0;
  box-shadow: none;
}

#informations #login-form .form-group .input-group-addon, #top-10 #login-form .form-group .input-group-addon, #informations #login-form #search-form .form-group .form-control, #search-form #informations #login-form .form-group .form-control, #top-10 #login-form #search-form .form-group .form-control, #search-form #top-10 #login-form .form-group .form-control, #informations #login-form .form-group .form-control, #top-10 #login-form .form-group .form-control, #informations #register-form .form-group .input-group-addon, #top-10 #register-form .form-group .input-group-addon, #informations #register-form #search-form .form-group .form-control, #search-form #informations #register-form .form-group .form-control, #top-10 #register-form #search-form .form-group .form-control, #search-form #top-10 #register-form .form-group .form-control, #informations #register-form .form-group .form-control, #top-10 #register-form .form-group .form-control {
  font-size: 1.125em;
}

#informations #login-form .btn-login, #top-10 #login-form .btn-login, #informations #login-form .btn-register, #top-10 #login-form .btn-register, #informations #register-form .btn-login, #top-10 #register-form .btn-login, #informations #register-form .btn-register, #top-10 #register-form .btn-register {
  background-color: #0067B0;
  height: 50px;
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}

#informations #login-form .btn-login:hover, #top-10 #login-form .btn-login:hover, #informations #login-form .btn-login:focus, #top-10 #login-form .btn-login:focus, #informations #login-form .btn-register:hover, #top-10 #login-form .btn-register:hover, #informations #login-form .btn-register:focus, #top-10 #login-form .btn-register:focus, #informations #register-form .btn-login:hover, #top-10 #register-form .btn-login:hover, #informations #register-form .btn-login:focus, #top-10 #register-form .btn-login:focus, #informations #register-form .btn-register:hover, #top-10 #register-form .btn-register:hover, #informations #register-form .btn-register:focus, #top-10 #register-form .btn-register:focus {
  background-color: #22A7F0;
}

#informations #login-form .checkbox, #top-10 #login-form .checkbox {
  margin-top: 0;
}

#informations #login-form .btn-forgot, #top-10 #login-form .btn-forgot {
  line-height: 20px;
}

#informations #login-form .btn-login, #top-10 #login-form .btn-login {
  margin-top: 20px;
}

#search-form .form-group {
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  #search-form .form-group {
    margin: 2px 0;
  }
}

#search-form .form-group .input-group-addon, #search-form .form-group .form-control {
  background-color: inherit;
  border: none;
  font-size: 1.125em;
}

#search-form .form-group .form-control {
  height: 60px;
  padding: 0;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  #search-form .form-group .form-control {
    height: 45px;
  }
}

footer.main-footer {
  background-color: #131313;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/*.btn-default {
	background-color: $main-color;
	border-color: $main-color;
	color: #fff;
}
.btn-default:hover {
	background-color: $dark-main-color;
	border-color: $dark-main-color;
}*/
#informations .nav-tabs, #top-10 .nav-tabs {
  background-color: #1d1e22;
  border-bottom: 1px solid #1d1e22;
}

#informations .nav-tabs li > a, #top-10 .nav-tabs li > a {
  margin-right: 0;
  border: none;
  border-radius: 0;
  height: 50px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 1.25em;
  text-align: center;
  color: #fff;
}

#informations .nav-tabs li > a:focus, #top-10 .nav-tabs li > a:focus, #informations .nav-tabs li > a:hover, #top-10 .nav-tabs li > a:hover {
  background-color: #2C3A49;
}

#informations .nav-tabs li[class*="col"], #top-10 .nav-tabs li[class*="col"] {
  padding: 0;
}

#informations .nav-tabs li.active > a, #top-10 .nav-tabs li.active > a, #informations .nav-tabs li.active > a:focus, #top-10 .nav-tabs li.active > a:focus, #informations .nav-tabs li.active > a:hover, #top-10 .nav-tabs li.active > a:hover {
  background-color: #0067B0;
  border: none;
  border-bottom-color: inherit;
}

#informations .tab-content, #top-10 .tab-content {
  background-color: #fff;
}

section:nth-child(even) {
  background-color: #1d1e22;
}

#informations, #top-10 {
  min-height: 550px;
}

#informations header h1, #top-10 header h1 {
  margin: 0 0 25px;
  font-size: 2em;
  line-height: 1.313em;
  text-transform: uppercase;
  color: #22A7F0;
}

@media (min-width: 992px) {
  #informations header h1, #top-10 header h1 {
    font-size: 2.75em;
  }
}

@media (min-width: 1200px) {
  #informations header h1, #top-10 header h1 {
    font-size: 3em;
  }
}

#informations header h1::before, #top-10 header h1::before {
  content: '';
  width: 250px;
  margin-right: 15px;
  border: 3px solid #22A7F0;
}

#informations header p, #top-10 header p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3px;
}

#top-10 {
  min-height: inherit;
}

#top-10 header h1 {
  margin: 0 0 40px;
}
