/*@import
	'vendor/';*/
/*@import
	'base/base',
	'base/fonts',
	'base/typography',
	'base/helpers';*/
body {
  background-color: #131313;
  color: #eaeaea;
}

.navbar {
  background-color: #1d1e22;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px;
  border-left: 0;
  border-style: solid;
  border-color: #333439;
  border-radius: 0;
}

.navbar .navbar-title {
  text-align: center;
}

.navbar .bg-dalib {
  background-color: #0067B0;
}

/*.btn-default {
	background-color: $main-color;
	border-color: $main-color;
	color: #fff;
}
.btn-default:hover {
	background-color: $dark-main-color;
	border-color: $dark-main-color;
}*/
.full-section {
  width: 100%;
  padding: 75px 0;
}

footer.main-footer {
  background-color: #0067B0;
  color: red;
}

#informations {
  min-height: 600px;
}

#informations .nav-tabs {
  background-color: #1d1e22;
  border-bottom: 1px solid #1d1e22;
}

#informations .nav-tabs li > a {
  height: 50px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 1.25em;
  text-align: center;
  color: #fff;
}

#informations .nav-tabs li > a:focus, #informations .nav-tabs li > a:hover {
  background-color: #333439;
}

#informations .nav-tabs li[class*="col"] {
  padding: 0;
}

#informations .nav-tabs li.active > a, #informations .nav-tabs li.active > a:focus, #informations .nav-tabs li.active > a:hover {
  background-color: #0067B0;
  border: none;
  border-bottom-color: inherit;
}

#informations .nav-tabs li > a {
  margin-right: 0;
  border: none;
  border-radius: 0;
}

#informations .tab-content {
  background-color: #fff;
}

#informations .tab-content #login-form, #informations .tab-content #register-form {
  padding: 20px 0;
  color: #333439;
}

#informations .tab-content #login-form .form-group, #informations .tab-content #register-form .form-group {
  margin: 0 0 20px;
}

#informations .tab-content #login-form .form-group .input-group-addon, #informations .tab-content #register-form .form-group .input-group-addon {
  background-color: inherit;
}

#informations .tab-content #login-form .form-group .input-group-addon, #informations .tab-content #register-form .form-group .input-group-addon {
  background-color: inherit;
  border-top: 1px;
  border-right: 0;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0;
}

#informations .tab-content #login-form .form-group .form-control, #informations .tab-content #register-form .form-group .form-control {
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0;
  height: 45px;
  padding: 0;
  box-shadow: none;
}

#informations .tab-content #login-form .btn-login, #informations .tab-content #login-form .btn-register, #informations .tab-content #register-form .btn-login, #informations .tab-content #register-form .btn-register {
  background-color: #0067B0;
  height: 50px;
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}

#informations .tab-content #login-form .btn-login:hover, #informations .tab-content #login-form .btn-login:focus, #informations .tab-content #login-form .btn-register:hover, #informations .tab-content #login-form .btn-register:focus, #informations .tab-content #register-form .btn-login:hover, #informations .tab-content #register-form .btn-login:focus, #informations .tab-content #register-form .btn-register:hover, #informations .tab-content #register-form .btn-register:focus {
  background-color: #22A7F0;
}

#informations .tab-content #login-form .checkbox {
  margin-top: 0;
}

#informations .tab-content #login-form .btn-forgot {
  line-height: 20px;
}

#informations .tab-content #login-form .btn-login {
  margin-top: 20px;
}

/*@import
	'pages/';*/
/*@import
	'themes/';*/
