/*@import
	'vendor/';*/
body {
  background-color: #131313;
  color: #eaeaea;
  font-size: 16px;
}

a {
  color: #0057A0;
}

a:hover {
  color: #22A7F0;
}

a:visited {
  color: #22A7F0;
}

main {
  margin-top: 70px;
}

@media (min-width: 768px) and (max-width: 991px) {
  main {
    margin-top: 140px;
  }
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

/**
 * Basic typography style for copy text
 */
.bg-dalib {
  background-color: #0067B0;
}

.navbar-default {
  background-color: #1d1e22;
  min-height: 70px;
  border-top: 0;
  border-right: 0;
  border-bottom: 4px;
  border-left: 0;
  border-style: solid;
  border-color: #333439;
}

.navbar-default .navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-link,
.navbar-default .btn-link {
  min-height: 66px;
  line-height: 38px;
  color: #eaeaea;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-link:hover,
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #eaeaea;
  background-color: transparent;
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
  min-height: 66px;
  line-height: 46px;
  color: #eaeaea;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eaeaea;
  background-color: #333439;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eaeaea;
  background-color: #333439;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus,
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #eaeaea;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #eaeaea;
  background-color: #eaeaea;
  margin-top: 16px;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: #eaeaea;
  background-color: #eaeaea;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #1d1e22;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #333439;
}

.navbar-default .navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-default .navbar-form-search {
  margin-top: 24px;
}

.navbar-default div[class*="col-"] {
  min-height: 0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eaeaea;
  background-color: #1d1e22;
}

.navbar-default .navbar-nav .open .dropdown-menu {
  margin-top: 4px;
  border: none;
  box-shadow: none;
  background-color: #1d1e22;
}

.navbar-default .navbar-nav .open .dropdown-menu > .divider {
  background-color: #333439;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  min-height: 44px;
  line-height: 34px;
  color: #eaeaea;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #eaeaea;
  background-color: #333439;
}

.navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header {
  color: #eaeaea;
}

.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #eaeaea;
}

@media (min-width: 768px) {
  .navbar-default .navbar-header,
  .navbar-default .navbar-brand {
    width: 100%;
  }
  .navbar-default .navbar-brand {
    text-align: center;
  }
  .navbar-default .navbar-nav > li > a {
    line-height: 34px;
  }
  .navbar-default .navbar-form-search {
    margin-top: 16px;
  }
  .navbar-default .navbar-nav .user-avatar {
    max-width: 36px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    line-height: 38px;
  }
}

.form-control {
  color: #eaeaea;
  border-color: #C5D3E2;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
}

.form-control:focus {
  border-color: #22A7F0;
}

.form-control::-moz-placeholder, .form-control::-ms-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #eaeaea;
}

.form-control.disabled, .form-control[disabled] {
  border-color: #333439;
  background-color: #333439;
}

.input-group-btn .btn + .btn {
  border-width: 1px;
  border-style: solid;
  border-color: #333439;
  border-radius: 0;
}

.input-group-addon {
  background-color: #22A7F0;
  border-color: #22A7F0;
  border-right: 0;
  border-radius: 0;
  min-width: 40px;
  color: #eaeaea;
}

.input-group-addon .radio,
.input-group-addon .checkbox {
  margin: -3px 0 -4px !important;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #2ECC71;
}

.has-success .form-control {
  border-color: #2ECC71;
}

.has-success .form-control:focus {
  border-color: #2ECC71;
}

.has-success .input-group-addon {
  background-color: #2ECC71;
  border-color: #2ECC71;
}

.has-success .form-control-feedback {
  color: #2ECC71;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #F1892D;
}

.has-warning .form-control {
  border-color: #F1892D;
}

.has-warning .form-control:focus {
  border-color: #F1892D;
}

.has-warning .input-group-addon {
  background-color: #F1892D;
  border-color: #F1892D;
}

.has-warning .form-control-feedback {
  color: #F1892D;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #C0392B;
}

.has-error .form-control {
  border-color: #C0392B;
}

.has-error .form-control:focus {
  border-color: #C0392B;
}

.has-error .input-group-addon {
  background-color: #C0392B;
  border-color: #C0392B;
}

.has-error .form-control-feedback {
  color: #C0392B;
}

footer.main-footer {
  background-color: #1d1e22;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.nav-tabs {
  border-bottom: none;
  background-color: #1d1e22;
}

.nav-tabs > li {
  margin-bottom: 0;
  border-left: 1px solid #0067B0;
}

.nav-tabs > li:first-child {
  border-left: none;
}

.nav-tabs > li > a {
  margin-right: 0;
  border: none;
  color: #FFFFFF;
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  border: none;
  background-color: #22A7F0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #FFFFFF;
  border: none;
  background-color: #0067B0 !important;
}

.nav-tabs .dropdown-toggle,
.nav-tabs .dropdown-toggle:hover,
.nav-tabs .dropdown-toggle:focus {
  color: #FFFFFF;
}

.nav-tabs li.dropdown.open .dropdown-toggle {
  color: #FFFFFF;
  background-color: #22A7F0;
}

.nav-tabs li.dropdown.active.open .dropdown-toggle {
  color: #FFFFFF;
}

.nav-tabs li.dropdown.active.open .dropdown-toggle .caret,
.nav-tabs li.dropdown.active .dropdown-toggle .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.nav-tabs li.dropdown.open .caret,
.nav-tabs li.dropdown.open.active .caret,
.nav-tabs li.dropdown.open a:hover .caret,
.nav-tabs li.dropdown.open a:focus .caret,
.nav-tabs .dropdown-toggle .caret,
.nav-tabs .dropdown-toggle:hover .caret,
.nav-tabs .dropdown-toggle:focus .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
  border-radius: 0;
  text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: none;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: none;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom: none;
  }
}

.tab-content {
  padding: 30px 10px;
  background-color: #333439;
}

.tabs-left .nav-tabs > li,
.tabs-right .nav-tabs > li {
  float: none;
  border-left: none;
  border-top: 1px solid #0067B0;
}

.tabs-left .nav-tabs > li:first-child,
.tabs-right .nav-tabs > li:first-child {
  border-top: none;
}

.tabs-left .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
}

.tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
}

.tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
}

/*.btn-default {
	background-color: $main-color;
	border-color: $main-color;
	color: #fff;
}
.btn-default:hover {
	background-color: $dark-main-color;
	border-color: $dark-main-color;
}*/
#search-form .form-control {
  color: #eaeaea;
  border-color: transparent;
  background-color: transparent;
  -webkit-transition: none;
  transition: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px;
  border-left: 0;
  border-style: solid;
  border-color: #333439;
  border-radius: 0;
}

#search-form .form-control:focus {
  border-color: #0067B0;
  box-shadow: none;
}

#search-form .input-group-addon {
  background-color: transparent;
  border-color: transparent;
}

section:nth-child(even) {
  background-color: #1d1e22;
}

section#informations {
  min-height: 500px;
}

section#informations header h1 {
  margin: 0 0 25px;
  line-height: 1.313em;
  text-transform: uppercase;
  color: #22A7F0;
}

section#informations header h1::before {
  content: '';
  width: 250px;
  margin-right: 15px;
  border: 3px solid #22A7F0;
}

@media (min-width: 768px) {
  section#informations header h1 {
    font-size: 1.8em;
  }
}

@media (min-width: 992px) {
  section#informations header h1 {
    font-size: 2.4em;
  }
}

section#informations header p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3px;
}

section#top-10 header h1 {
  margin: 0 0 50px;
  line-height: 1.313em;
  text-transform: uppercase;
  color: #22A7F0;
}

section#top-10 header h1::before {
  content: '';
  width: 250px;
  margin-right: 15px;
  border: 3px solid #22A7F0;
}

@media (min-width: 768px) {
  section#top-10 header h1 {
    font-size: 1.8em;
  }
}

@media (min-width: 992px) {
  section#top-10 header h1 {
    font-size: 2.4em;
  }
}
