body {
  background-color: #131313;
  color: #eaeaea;
}

.navbar {
  background-color: #1d1e22;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px;
  border-left: 0;
  border-style: solid;
  border-color: #333439;
  border-radius: 0;
}

.navbar .navbar-title {
  text-align: center;
}

.navbar .bg-dalib {
  background-color: #1297E0;
}

/*.btn-default {
	background-color: $main-color;
	border-color: $main-color;
	color: #fff;
}
.btn-default:hover {
	background-color: $dark-main-color;
	border-color: $dark-main-color;
}*/
.full-section {
  width: 100%;
  padding: 75px 0;
}

#informations .nav-tabs {
  background-color: #1d1e22;
}

#informations .nav-tabs li[class*="col"] {
  padding: 0;
}

#informations .nav-tabs li.active > a, #informations .nav-tabs li.active > a:focus, #informations .nav-tabs li.active > a:hover {
  border: none;
  border-bottom-color: inherit;
}

#informations .nav-tabs li > a {
  margin-right: 0;
  border: none;
  border-radius: 0;
}

#informations .tab-content {
  background-color: #fff;
}

#informations .tab-content #login-form, #informations .tab-content #register-form {
  padding: 20px 0;
}

#informations .tab-content #login-form .form-group, #informations .tab-content #register-form .form-group {
  margin: 0 0 20px;
}

#informations .tab-content #login-form .form-group .input-group-addon, #informations .tab-content #register-form .form-group .input-group-addon {
  background-color: inherit;
}

#informations .tab-content #login-form .form-group .input-group-addon, #informations .tab-content #register-form .form-group .input-group-addon {
  background-color: inherit;
  border-top: 1px;
  border-right: 0;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0;
}

#informations .tab-content #login-form .form-group .form-control, #informations .tab-content #register-form .form-group .form-control {
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0;
  height: 45px;
  padding: 0;
  box-shadow: none;
}

#informations .tab-content #login-form .btn-forgot {
  line-height: 40px;
}

footer.main-footer {
  background-color: #1d1e22;
}
