// ===========================================================================
// Main Navigation
// ===========================================================================
.navbar {
	background-color: $grey;
	min-height: 70px;
	border: {
		top: 0;
		right: 0;
		bottom: 3px;
		left: 0;
		style: solid;
		color: #333439;
		radius: 0;
	}
	.bg-dalib {
		background-color: $primary;
	}
	.navbar-header {
		width: 100%;
	}
	.navbar-brand {
		width: 75%;
		height: 70px;
		padding: 0 25px;
		font-size: 2.5em;
		line-height: 70px;
		color: $light-grey;
		text-align: center;
		&:hover {
			color: $light-grey;
		}
		@media screen and (min-width: $media-sm) {
			width: 100%;
		}
	}
	.navbar-collapse {
		border-top: inherit;
		box-shadow: inherit;
	}
	.navbar-toggle {
		border-color: $light-grey;
		&:hover, &:focus {
			background-color: $primary-light;
		}
		.icon-bar {
			background-color: $light-grey;
		}
	}
	.nav > li > a {
		line-height: 38px;
	}
	.navbar-nav > .open > a, .dropdown-menu {
		background-color: $grey;
	}
	.navbar-nav > li > .dropdown-menu {
		margin-top: 3px;
		border: inherit;
		-webkit-box-shadow: inherit;
		box-shadow: inherit;
	}
	.navbar-nav > li > a, .dropdown-menu > li > a {
		color: $light-grey;
		&:hover {
			background-color: $K10;
			color: $link-hover;
		}
		&:visited {
			color: $link-visited;
		}
	}	
}