// ===========================================================================
// Flat Colors UI - http://www.flatcolorsui.com/
// ===========================================================================
// Basic Colors - Ligth & Dark
// ===========================================================================
// Peacock
$A1: #34495E;
$A2: #1ABC9C;
// Green
$A3: #16A085;
$A4: #2ECC71;
// Blue
$A5: #27AE60;
$A6: #3498DB;
// Dark Grey
$A7: #2980B9;
$A8: #2C3E50;
// Pink
$A9: #EA4C88;
$A10: #CA2C68;
// Purple
$A11: #9B59B6;
$A12: #8E44AD;
// Yellow
$A13: #F1C40F;
$A14: #F39C12;
// Red
$A15: #E74C3C;
$A16: #C0392B;
// Light Grey
$A17: #ECF0F1;
$A18: #BDC3C7;
// Medium Grey
$A19: #95A5A6;
$A20: #7F8C8D;


// ===========================================================================
// Palleton Color - Ligth -> Dark
// ===========================================================================
// Red
$B1: #FFCCBC;
$B2: #FFAC9C;
$B3: #FF8C7C;
$B4: #FF7C6C;
$B5: #FF6C5C;
$B6: #F75C4C;
$B7: #E74C3C;
$B8: #D73C2C;
$B9: #C72C1C;
$B10: #B71C0C;
$B11: #A70C00;
$B12: #870000;

// Pink
$C1: #FFBCD8;
$C2: #FF8CC8;
$C3: #FF7CB8;
$C4: #FF6CA8;
$C5: #FA5C98;
$C6: #EA4C88;
$C7: #DA3C78;
$C8: #CA2C68;
$C9: #BA1C58;
$C10: #AA0C48;
$C11: #9A0038;
$C12: #8A0028;

// Purple
$D1: #DCC6E0;
$D2: #CEA0E4;
$D3: #BE90D4;
$D4: #AB69C6;
$D5: #9B59B6;
$D6: #8E44AD;
$D7: #7E349D;
$D8: #6E248D;
$D9: #5E147D;
$D10: #4E046D;
$D11: #3E005D;
$D12: #1E003D;

// Blue
$E1: #39D5FF;
$E2: #29C5FF;
$E3: #19B5FE;
$E4: #22A7F0;
$E5: #1297E0;
$E6: #0287D0;
$E7: #0077C0;
$E8: #0067B0;
$E9: #0057A0;
$E10: #004790;
$E11: #003780;
$E12: #102770;

// Peacock - Mix Blue & Green
$F1: #5EFAF7;
$F2: #51F5EA;
$F3: #47EBE0;
$F4: #37DBD0;
$F5: #27CBC0;
$F6: #17BBB0;
$F7: #07ABA0;
$F8: #009B90;
$F9: #008B80;
$F10: #007B70;
$F11: #106B60;
$F12: #005B50;

// Green
$G1: #8EFFC1;
$G2: #5EFCA1;
$G3: #4EEC91;
$G4: #3EDC81;
$G5: #2ECC71;
$G6: #1EBC61;
$G7: #0EAC51;
$G8: #009C41;
$G9: #008C31;
$G10: #007C21;
$G11: #006C11;
$G12: #005C01;

// Yellow
$H1: #FDE3A7;
$H2: #FFCF4B;
$H3: #F9BF3B;
$H4: #F9B32F;
$H5: #F5AB35;
$H6: #F39C12;
$H7: #F1892D;
$H8: #E67E22;
$H9: #D87400;
$H10: #C86400;
$H11: #B85400;
$H12: #A84410;

// Skin - Mix Yellow & Brown
$I1: #FFDCB5;
$I2: #FFC29B;
$I3: #FFB28B;
$I4: #FFA27B;
$I5: #FF926B;
$I6: #F3825B;
$I7: #E3724B;
$I8: #D3623B;
$I9: #C3522B;
$I10: #B3421B;
$I11: #A3320B;
$I12: #932210;

// Brown
$J1: #F6C4A3;
$J2: #EAB897;
$J3: #DFAD8C;
$J4: #D4A281;
$J5: #CE9C7B;
$J6: #BE8C6B;
$J7: #AE7C5B;
$J8: #9E6C4B;
$J9: #8E5C3B;
$J10: #7E4C2B;
$J11: #6E3C1B;
$J12: #5E2C0B;

// Night Grey - Mix Grey & Blue
$K1: #C5D3E2;
$K2: #BCCAD9;
$K3: #ACBAC9;
$K4: #9CAAB9;
$K5: #8C9AA9;
$K6: #7C8A99;
$K7: #6C7A89;
$K8: #5C6A79;
$K9: #4C5A69;
$K10: #3C4A59;
$K11: #2C3A49;
$K12: #1C2A39;

// Tempest Grey - Mix Grey & Green
$L1: #D5E5E6;
$L2: #C5D5D6;
$L3: #B5C5C6;
$L4: #A5B5B6;
$L5: #95A5A6;
$L6: #859596;
$L7: #758586;
$L8: #657576;
$L9: #556566;
$L10: #455556;
$L11: #354546;
$L12: #253536;

// Grey - Grey to Black
$M1: #E0E0E0;
$M2: #D0D0D0;
$M3: #C0C0C0;
$M4: #A0A0A0;
$M5: #909090;
$M6: #808080;
$M7: #707070;
$M8: #606060;
$M9: #505050;
$M10: #404040;
$M11: #303030;
$M12: #000000;