@import "colors.scss";


body {
	background-color: $dark-grey;
	color: $light-grey;
}

.navbar {
	background-color: $grey;
	border: {
		top: 0;
		right: 0;
		bottom: 3px;
		left: 0;
		style: solid;
		color: $border-grey;
		radius: 0;
	}
	.navbar-title {
		text-align: center;	
	}
	.bg-dalib {
		background-color: $main-color;
	}
}

/*.btn-default {
	background-color: $main-color;
	border-color: $main-color;
	color: #fff;
}
.btn-default:hover {
	background-color: $dark-main-color;
	border-color: $dark-main-color;
}*/

.full-section {
	width: 100%;
	padding: 75px 0;
}


 @import "forms";



footer.main-footer {
	background-color: $grey;
}